@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: orangered;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* category previews / list */
.category-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  text-transform: uppercase;
  cursor: pointer;
}

.category-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.List h3 {
  font-size: 25px;
  color: black;
  margin-top: -51px;
  margin-bottom: 50px;
}

.category-preview a {
  text-decoration: none;
}

.List button {
  text-align: center;
  font-size: large;
  border-radius: 7px;
  display: flex;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 140px;
  margin-bottom: 20px;
  margin-left: 77%;
}

.search {
  max-width: 440px;
  margin: 40px auto;
  padding: 20px;
  margin-top: -40px;
  margin-bottom: 15px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-color: #333;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  font-family: "Quicksand";
  padding: 15px;
  height: 30px;
  width: 300px;
}

.search button {
  height: 40px;
  margin: 4px;
  padding: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}

.jokeResults-preview {
  width: 600px;
  overflow: hidden;
  padding: 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
}

.jokeResults-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.jokeResults-preview a {
  text-decoration: none;
}